*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #e11010;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
     background: #000000;  
     /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(6, 78%, 57%, 0.57), hsla(0, 0%, 0%, 0.57)), url(../img/portada4.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(6, 78%, 57%, 0.57), hsla(0, 0%, 0%, 0.57)), url(../img/portada4.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    ;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .elementos-header{
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.elementos-header h1{
    font-size: 50px;
    color:rgb(225, 167, 167);
}

.elementos-header h2{
    font-size: 30px;
    color:#fff;
    padding: 10px;
}

.wave{
    position:absolute;
    bottom: 0;
    width: 100%;
}

/* footer */

.footer{
    color: solid rgb(44, 43, 43);
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(255, 0, 0);
}

.contenido{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.contenido h4{
    color: rgb(0, 0, 0);
    border-bottom: 3px solid #910a0a;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contenido p{
    color: rgb(160, 136, 136);
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
}

.titulo-final{
    color: rgb(255, 0, 0);
    border-bottom: 3px solid #000000;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}