*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    color: #e11010;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 500px;
     background: #000000;  
     /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(6, 78%, 57%, 0.57), hsla(0, 0%, 0%, 0.57)), url(../img/portada4.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(6, 78%, 57%, 0.57), hsla(0, 0%, 0%, 0.57)), url(../img/portada4.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .elementos-header{
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.elementos-header h1{
    font-size: 50px;
    color:rgb(225, 167, 167);
}

.elementos-header h2{
    font-size: 30px;
    color:#fff;
    padding: 10px;
}

.wave{
    position:absolute;
    bottom: 0;
    width: 100%;
}

	/* Color rojo en los dados */
	#demobox{
		background-color: #ff00003d;
		padding: 432px;
		margin-top: -500px;
		border: none;
	}

/*main*/

main
{
    background-image: url('https://media.giphy.com/media/65Ehp0SVELsVqYhyJT/giphy.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
    font-family: bahnschrift;
}

.juego{
	display: flex;
	flex-direction: column;
		
}

.contenedor-rainbow{
	padding-top: 60px;
	
}

/*.center*/
		/* Texto animado con color */
.rainbow{
	
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 6em;
	color: transparent;
	text-transform: all;
	background-image: linear-gradient(to right , rgb(255, 0, 0),rgb(255, 112, 112),rgb(255, 255, 255),rgb(124, 0, 0),rgb(0, 0, 0));;
	-webkit-background-clip: text;
	animation: animate 20s linear infinite;
	background-size: 1000%

}

@keyframes animate
{
	0%
	{
		background-position: 0% 100%
	}
	50%
	{
		background-position: 100% 0%
	}
	100%
	{
		background-position: 0% 100%
	}
}

.contenedor-rainbow{
	padding: 60px;
	border: #000000;
	margin: auto;

}

.dado{
	background-image:url(https://i.pinimg.com/originals/0b/61/ba/0b61ba096406865f0e76a9b07e36dc69.png);
	background-position:-803px;
	color: black;
	width:157px;
	height:156px;
}
	#contenedor_dados{
	display:flex;
	width:315px;
	margin:0 auto;
}
	/* Boton animado */
#boton_tirar{
	padding: 15px 25px;
  font-size: 24px;
  align-items: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #f00000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
  position: absolute;
  margin-top: 100px;
  margin-left: 590px;
   }

#boton_tirar:hover {background-color: #b60000}

#boton_tirar:active {
  background-color: #ff2020;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

	/* Ventana */
#titulo{
	margin: 0 auto;
	width: 152px;
	margin-bottom: 40px;
	color:#0081a7;
	}
#mensaje_texto{
	position: absolute;
	top: 30px;
	left: 40px;
	width: 255px;
	/*border: 1px solid black;*/
	height: 140px;
	}
	body{
	margin: 0;
	padding: 0;
	}

.show{
	display:block;
	}

.hidden{
	display:none;
	}

.ligthbox{
	position: fixed;
	background-color: red;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.6);
	}

.login_content{
	position: relative;
	background-color: #ee264c;
	width: 353px;
	height: 230px;
	margin-right: auto;
	margin-left: auto;
	top:50%;
	margin-top: -115px;
	border-radius: 5%;
	}
.close_button{
	position: absolute;
	background-color: #f07167;
	top: 10px;
	right: 10px;
	color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	font-size: 23px;
	line-height: 34px;
	font-family: verdana;
	}

.close_button:hover{
	background-color: white;
	color: #0081a7;
	}

/* footer */

.footer{
    color: solid rgb(44, 43, 43);
	}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(255, 0, 0);
	}

.contenido{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
	}

.contenido h4{
    color: rgb(0, 0, 0);
    border-bottom: 3px solid #910a0a;
    padding-bottom: 5px;
    margin-bottom: 10px;
	}

.contenido p{
    color: rgb(160, 136, 136);
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
	}

.titulo-final{
    color: rgb(255, 0, 0);
    border-bottom: 3px solid #000000;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
    text-align: center;
	}



