body{
	background-color: darkcyan;
}

.dado{
	background-image:url(https://i.pinimg.com/originals/0b/61/ba/0b61ba096406865f0e76a9b07e36dc69.png);
	background-position:-803px;
	width:157px;
	height:156px;
}
	#contenedor_dados{
	display:flex;
	width:315px;
	margin:0 auto;
}

#boton_tirar{
	padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: relative;
  left: 890px;
  right: -890px;
  top: 300px;
   }

#boton_tirar:hover {background-color: #3e8e41}

#boton_tirar:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

